<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/write",
            data: {},
            success: function (response) {
                let games = response['all_game_data'];
                if (games != undefined && games != null) {
                    for (let i = 0; i < games.length; i++) {
                        let id = games[i]['id'] //작성자
                        let title = games[i]['game_name'] //게임명
                        let image = games[i]['image'] //게임 이미지
                        let price = games[i]['price'] //가격
                        let lang = games[i]['lang'] //언어
                        let genre = games[i]['genre'] //장르
                        let age = games[i]['age'] //등급
                        let release = games[i]['release'] //출시일
                        let platform = games[i]['platform'] //플랫폼
                        let like = games[i]['like'] //좋아요
                        let homepage = games[i]['homepage'] //게임 공식홈페이지
                        let text = games[i]['text'] //한국어 지원
                        let agestemp = ''
                        for (let j = 0; j < age.length; j++) {
                            let agetemp = `<div class="test">${age[j]}</div>`
                            agestemp += agetemp
                        }
                        let platformstemp = ''
                        for (let j = 0; j < platform.length; j++) {
                            let platformtemp = `<div class="test">${platform[j]}</div>`
                            platformstemp += platformtemp
                        }
                        temp_html = `<div class="card">
    <div style='
            grid-area: image;
            background: url("${image}");
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            background-size: cover;
            background-position: center;'></div>
    <div class="card-text">
        <span class="date">${id}</span>
        <h5 class="game_title"><a href=${homepage} target="_blank"class="games">${title}</a></h5>
        <div id="tag">
                                            <div class="test">${lang}</div>
                                            <div class="test">${price}</div>
                                            <div class="test">${genre}</div>
                                            ${agestemp}
                                            ${platformstemp}
        </div>
        <p>${text}</p>
    </div>
    <div class="card-stats">
        <div class="stat">
            <div class="value">${like}명</div>
            <div class="type">추천</div>
        </div>
        <div class="stat" style="border-left: 1px solid white;">
            <div class="value"><a href="#" onclick="likeStar('${title}')" class="card-footer-item has-text-info" style="color: white">
                                                                                    추천하기
                                                                                    <span class="icon">
                                                                          <i class="fas fa-thumbs-up"></i>
                                                                        </span>
                                                                                </a></div>
        </div>
    </div>
</div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            }
        })
        //로딩
    });

            function likeStar(title) {
                $.ajax({
                    type: 'POST',
                    url: '/like',
                    data: {title:title},
                    success: function (response) {
                        alert(response['msg']);
                        window.location.reload()
                    }
                });
            }

</script>