.login-bg {
    background-image: url("../../static/image/login-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 820px;
}

.login-box {
    width: 400px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 80px 50px;
    margin: auto;
    border-radius: 3px;
    background-color: rgba( 255, 255, 255, 0.9);
}

.login-box-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.m-tb-15 {
    margin: 15px 0;
}

.h-820 {
    height: 820px;
}