body {
    background-image: url('https://wallpapercave.com/wp/wp4585033.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrap {
    width: auto;
    margin: auto;
}

        .card {
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 210px 280px 80px;
            grid-template-areas: "image" "text" "stats";

            border-radius: 18px;
            background: white;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
            font-family: roboto;
            text-align: center;


            transition: 0.5s ease;
            cursor: pointer;
            margin: 30px;
            float: left;
        }

        .card-text {
            grid-area: text;
            margin: 25px;
        }

        .card-text .date {
            color: rgb(255, 7, 110);
            font-size: 13px;
        }

        .card-text p {
            color: grey;
            font-size: 15px;
            font-weight: 300;
        }

        .card-text h2 {
            margin-top: 0px;
            font-size: 28px;
        }

        .card-stats {
            grid-area: stats;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            background: rgb(255, 7, 110);
        }

        .card-stats .stat {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
        }

        .border {
            border-left: 1px solid rgb(172, 26, 87);
        }

        .card-stats .value {
            font-size: 22px;
            font-weight: 500;
        }

        .card-stats .value sup {
            font-size: 12px;
        }

        .card-stats .type {
            font-size: 15px;
            font-weight: 300;
            text-transform: uppercase;
        }

        .card:hover {
            transform: scale(1.15);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
        }

.test {
    font-size: xxx-large;
    display: inline-block;
    align-items: center;
    flex-shrink: 0;
    min-width: 0px;
    height: 14px;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    line-height: 120%;
    color: rgb(55, 53, 47);
    background: rgba(255, 0, 26, 0.2);
    margin: 0px 6px 0px 0px;
}

.card-bodys {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}

.sss {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-sizee {
    width: auto;

}

.mini-size {
    width: 300px;
    float: left;
    margin: 5px;
}

#write_Button {
    position: absolute;
    right: 0;
    margin: 30px;
    color: #FFFFFF; !important;
    font-family: 'Jua', sans-serif;
}

#cards-box {
    display: inline-block;
    padding: 10px;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}