


/* input reset */
input:focus {outline:none;}


.mypage-box {
    width: 400px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 80px 50px;
    margin: auto;
    border-radius: 3px;
    background-color: rgb( 255, 255, 255, 0.9);
}

body {
    background-image: url("../../static/image/register-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


.mypage-box-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}



.mypage-table{
    width: 100%;
    margin: 40px 0;
    text-align: center;
    border-top: 1px solid #b5b5b5;
}
.mypage-table td{
    padding: 10px;
    border-bottom: 1px solid #b5b5b5;
}

.userPW{
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
}

.mypage-table td:first-child{
    width: 35%;
    font-weight: bold;
}
.mypage-table td:nth-child(5){
    width: 100%;
}

.h-820 {
    height: 820px;
}
