.writePopUpHeader {
    background-color: #FFFB7A;
    font-size: 30px;
    font-family: 'Jua', sans-serif;
}

.writePopUpBody {
    font-size: 20px;
    font-family: 'Jua', sans-serif;
}

.writePopUpFooter {
    background-color: #FFFB7A;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
}