<script>

    function userUpdate() {
        var alertObj = document.getElementById('alertModal').childNodes[1].childNodes[1].childNodes[1];
        alertObj.style.backgroundColor = '#F781FF';
        alertObj.childNodes[1].src = "../../static/image/lock.png"
        let userID = $("#userInfo_userID").text()
        let userPW = $("#userPW").val()

        if ($("#userPW").val() == '') {
            $('#alertModal').modal('show');
            $('.nullAlertModalText').text('비밀번호를 입력해주세요');
            userPW.focus();
            return false;
        } else if ($("#userPW").val().length < 4 && $("#userPW").val().length < 9) {
            $('#alertModal').modal('show');
            $('.nullAlertModalText').text('비밀번호는 4~8자리여야합니다.');
            userPW.focus();
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/userUpdate",
            data: {
                'userID_give': userID,
                'userPW_give': userPW
            },
            success: function (response) {
                alertObj.style.backgroundColor = '#FFFFFF';
                alertObj.childNodes[1].src = "../../static/image/playgame.png"
                $('#alertModal').modal('show');
                $('.nullAlertModalText').text('회원정보가 수정되었습니다.');
                $(document).on('hidden.bs.modal', '#alertModal', function () {
                    window.location.replace('/login');
                });
            }
        })
    }

</script>