<script>
    $(document).ready(function () {
            /* -------비밀번호 일치 확인 ---------------*/
            $("#rePW").blur(function () {
                let rePW = $("#rePW").val()
                let userPW = $("#userPW").val()
                if (rePW == userPW) {
                    $("#pwChck-txt").text('비밀번호가 일치합니다.').addClass("active");
                } else if (rePW != userPW) {
                    $("#pwChck-txt").text('비밀번호가 일치하지않습니다.').addClass("active");
                    $("#rePW").focus();
                }
            })
             /* -------비밀번호 일치 확인 끝---------------*/
        })

    function idCheck() {
        // ------------------------- id 유효성 검사 -------------------------//
        let idCheck = /^[A-Za-z0-9]{0,10}$/;
        let uid = $("#userID").val()
        if ($("#userID").val() == '') {
            alert('아이디를 입력하세요.');
            $("#userID").focus();
            return false;
        } else if (!idCheck.test(uid)) {
            alert('아이디는 영어+숫자를 조합해 10자이하여야합니다.');
            $("#userID").focus();
            return false;
        }
        // ------------------------- id 유효성 검사 끝-------------------------//


        let u_id = $("#userID").val();
        $.ajax({
            type: "POST",
            url: "/idCheck",
            data: {
                userID_give: u_id
            },
            success: function (response) {
                let result = response['exists']
                /* id check 후 메세지 보이기 */
                if (result == true) {
                    $("#idCheck-txt").text('이미 존재하는 아이디입니다.').addClass("active");
                    $("#userID").val('');
                    $("#userID").focus();
                    return false;
                } else if (result == false) {
                    $("#idCheck-txt").text('사용가능한 아이디입니다.').addClass("active");
                    return false;
                }
            }
        });
    }

    function setUser() {
         /* ------- 유효성 검사 ---------------*/
        if ($("#userPW").val() == '') {
            alert('비밀번호를 입력하세요.');
            $("#userPW").focus();
            return false;
        } else if ($("#userPW").val().length < 4 && $("#userPW").val().length < 9) {
            alert('비밀번호는 4~8자리여야합니다.');
            $("#userPW").focus();
            return false;
        }
        if ($("#userName").val() == '') {
            alert('이름을 입력하세요.');
            $("#userName").focus();
            return false;
        }
         /* ------- 유효성 검사 끝 ---------------*/

        let userID = $("#userID").val();
        let userPW = $("#userPW").val();
        let userName = $("#userName").val();

        $.ajax({
            type: "POST",
            url: "/setUser",
            data: {
                userID_give: userID,
                userPW_give: userPW,
                userName_give: userName
            },
            success: function (response) {
                let result = response['result'];
                let msg = ""

                /* 배포 할때 replace 안의 주소 변경*/
                if(result == "NO"){
                    msg = "아이디가 이미 존재합니다";
                    alert(msg);
                }else {
                    msg ="회원가입이 완료되었습니다.";
                    alert(msg);
                    window.location.replace("/")
                }

            }
        });
    }

</script>