<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- og -->
<meta property="og:title" content="game tree"/>
<meta property="og:description" content="게임 소개 사이트"/>
<meta property="og:image" content="{{ url_for('static', filename='or-img.jpg') }}"/>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Font -->
<!-- logo-text -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="preload" as="style">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
<!-- log-Text -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="preload" as="style">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

<!-- CSS file -->
<link rel="preload" as="style" href="../../static/css/header.css" />
<link rel="stylesheet" href="../../static/css/header.css" />
<link rel="preload" as="style" href="../../static/css/alert_modal.css" />
<link rel="stylesheet" href="../../static/css/alert_modal.css" />

<!-- Shortcut Icon -->
<link href="../../static/image/shortcut_icon.png" rel="shortcut icon" type="image/x-icon">

<!-- Title -->
<title> Game Tree </title>
