<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="logo-a" href="/">
    <div class="logo-wrap">
        <img src="../../static/image/logo.png" width="130">
        <div class="logo-text">
            Game Tree
        </div>
    </div>
    </a>
    <div class="log-IO">
        {% if request.cookies.mytoken is none or request.cookies.mytoken == undefined %}
        <button id="logIn_button" type="button" class="btn btn-outline-primary" onclick="logIn()">Log In</button>
        {% elif request.cookies.mytoken is not none and request.cookies.mytoken != undefined %}
        <button id="logOut_button" type="button" class="btn btn-outline-danger" onclick="logOut('mytoken')">Log Out</button>
        <p id="userId_text" class="log-Text">님 안녕하세요.</p>
        {% endif %}
    </div>
</nav>