<script>
    function crud(jwt_token) {
        let id = jwt_token;
        let url = $('#game_Url').val();
        let text = $('#game_Text').val();

        var closeButton = document.getElementById('close_button');

        if (url == '' || url == undefined) {
            $('#alertModal').modal('show');
            closeButton.style.color = '#000000';
            $('.nullAlertModalText').text('제목을 입력해주세요');
            return;
        } else if (text == '' || text == undefined) {
            $('#alertModal').modal('show');
            closeButton.style.color = '#000000';
            $('.nullAlertModalText').text('소개글을 입력해주세요');
            return;
        }


        $.ajax({
            type: "POST",
            url: "/writing",
            data: {
                id : id
                , url: url
                , text: text
            },
            success: function (response) {

                var alertObj = document.getElementById('alertModal').childNodes[1].childNodes[1].childNodes[1];
                if (response["msg"].indexOf('키워드') == -1 && response["msg"].indexOf('게임') == -1) {
                    alertObj.style.backgroundColor = '#FFFFFF';
                    alertObj.childNodes[1].src = "../../static/image/playgame.png"

                    $('#alertModal').modal('show');
                    $('.nullAlertModalText').text(response["msg"]);

                    $(document).on('hidden.bs.modal', '#alertModal', function () {
                        window.location.reload();
                    });
                } else {
                    alertObj.style.backgroundColor = '#FFFFFF';
                    alertObj.childNodes[1].src = "../../static/image/gameover.png"

                    $('#alertModal').modal('show');
                    $('.nullAlertModalText').text(response["msg"]);

                }

            }
        })
    }
</script>