<script>
    function crud(jwt_token) {
        var tokenValue = jwt_token;
        let id = parseJwt(tokenValue).id;
        let title = $('#game_Title').val();
        let url = $('#game_Url').val();
        let text = $('#game_Text').val();

        if (title == '' || title == undefined) {
            $('#alertModal').modal('show');
            $('.nullAlertModalText').text('제목을 입력해주세요');
            return;
        } else if (url == '' || url == undefined) {
            $('#alertModal').modal('show');
            $('.nullAlertModalText').text('url을 입력해주세요');
            return;
        } else if (text == '' || text == undefined) {
            $('#alertModal').modal('show');
            $('.nullAlertModalText').text('소개글을 입력해주세요');
            return;
        }


        $.ajax({
            type: "POST",
            url: "/writing",
            data: {
                id : id
                , title: title
                , url: url
                , text: text
            },
            success: function (response) {
                alert(response["msg"]);
                window.location.reload();
            }
        })
    }
</script>